@font-face {
                font-family: circe;
                font-display: swap;
                src: url("../fonts/circe-extrabold.woff2") format("woff2"),
                    url("../fonts/circe-extrabold.woff") format("woff");
                font-weight: 800;
                font-style: normal;
              }
@font-face {
                font-family: circe;
                font-display: swap;
                src: url("../fonts/circe-bold.woff2") format("woff2"),
                    url("../fonts/circe-bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: circe;
                font-display: swap;
                src: url("../fonts/circe-extralight.woff2") format("woff2"),
                    url("../fonts/circe-extralight.woff") format("woff");
                font-weight: 200;
                font-style: normal;
              }
@font-face {
                font-family: circe;
                font-display: swap;
                src: url("../fonts/circe-thin.woff2") format("woff2"),
                    url("../fonts/circe-thin.woff") format("woff");
                font-weight: 100;
                font-style: normal;
              }
@font-face {
                font-family: circe;
                font-display: swap;
                src: url("../fonts/circe-light.woff2") format("woff2"),
                    url("../fonts/circe-light.woff") format("woff");
                font-weight: 300;
                font-style: normal;
              }
