/* Colors */
$white: #ffffff;
$black: #2B2B2B;
$orange: #FDBD4E;
$light-orange: #E89F38;

$width: 1390px;

/* Breakpoints */
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1229px;
